$primary: #ffc1b57d;
$primary-dark: #e95541;
$bc: #4b5964;
$bc-dark: #273238;

$color-white: #ffffff;

$text-primary: #082c26;
$text-light: #64807c;
$text-login-input: #577b76;

$sub: rgba(181, 176, 176, 0.51);

